h1,
h5,
.subt,
#parag {
    color: black !important;

}


.navbar {
    background-color: #6558CC !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h3,
.nav-link {
    color: white;
}

.nav-link:hover {
    color: #090909;
}


p,
.headline {
    color: white !important;
}



body {
    background-color: #E6F5FF;

}

hr {
    opacity: 0.1;

}


.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.overlay-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.btn {
    background-color: #E3AD6D;
    color: white !important;

}

.card {
    width: 25rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    color: white;
}

.card-body {
    background-color: #8D56E3;
}


.card-list-container {
    max-height: 550px;
    overflow-y: auto;
}


.cont {
    width: 60rem;
}

#socials {
    color: black;
}

.social-icons a {
    margin-right: 10px;
    color: #000;
    font-size: 24px;
    text-decoration: none;
}